@use "../assets/variables/colors.scss";

// Mobile First
.mainContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100dvw;

    .topContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        margin: 2rem 0;

        .title{
            font-size: 2.7rem;
            text-align: center;
            color: colors.$dark-grey;
        }
        .coverImg{
            width: 70vw;
        }
    }

    .bottomContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 1.7rem 1rem;

        .soporteBtn{
            display: flex;
            align-items: center;
            width: 70%;
            margin: .7rem 0;
            padding: 1.1rem 0;
            border-radius: 1rem;
            border: solid (colors.$light-grey);
            background-color: colors.$white;

            .btnLogo{
                width: 15%;
                margin: 0 2rem;
            }
            .btnTitle{
                padding-right: 1.5rem;
                word-wrap: break-word;
                color: colors.$dark-grey;
                font-size: 1rem;
            }
        }
        .soporteBtn:hover {
            background-color: colors.$yellow;
            cursor: pointer;
        }
    }
    .bottomContainer:nth-child(2),
    .bottomContainer:nth-child(3){
        display: none;
    }
}

@media only screen and (min-width: 600px) {
    .mainContainer{
        .topContainer{
            .title{
                font-size: 3.5rem;
            }
        }
        .bottomContainer{
            .soporteBtn{
                width: 60vw;
            }
        }
    }
}

@media only screen and (min-width: 992px) {
    .mainContainer {
            .topContainer{
                .title{
                    font-size: 6rem;
                }
                .coverImg{
                    width: 60vw;
                }
            }
            .bottomContainer {
                flex-direction: row;
                background-color: colors.$white;
                .soporteBtn {
                    justify-content: center;
                    flex-direction: column;
                    width: 15vw;
                    margin: 0 1rem;
                    aspect-ratio: 1.2/1;
                    .btnLogo{
                        width: 25%;
                        margin: 10% 0;
                    }
                    .btnTitle{
                        padding: 0;
                        font-size: 1.5rem;
                    }
                }
                .soporteBtn:last-child{
                    display: none;
                }
            }
            .bottomContainer:nth-child(2),
            .bottomContainer:nth-child(3) {
                display: flex;
            }
        }
    }